.a1 {
    list-style-type: none;
    list-style-image: url(./1.png);
}

.a2 {
    list-style-type: none;
    list-style-image: url(./2.png);
}

.a3 {
    list-style-type: none;
    list-style-image: url(./3.png);
}

.a4 {
    list-style-type: none;
    list-style-image: url(./4.png);
}
